# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:password123@localhost:5432/hostelhub?schema=public"

# JWT Configuration
JWT_SECRET="super-secret-hostelhub-token-signing-key-1024"
JWT_EXPIRES_IN="7d"

# Port Bindings
PORT=3001
CORS_ORIGIN="http://localhost:5500"
